{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<header id="page-header" class="top-bar header-fw fixed-top">
    <div>
        <div class="container-max">
            <div class="row mx-0">
                
                
                
            </div>
        </div>
        {% include "CeresCoconut::PageDesign.Partials.Header.Navigation" %}
        
    </div>
</header>

<!-- breadcrumb -->
{% if not services.template.isHome() and not services.template.isMyAccount() and not services.template.isCheckout() %}
    {% include "Ceres::PageDesign.Partials.Header.Breadcrumb" %}
{% endif %}
