<!-- Insert markup for navigation here -->

{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}
{% set useMegaMenu  = config("Ceres.header.megamenu_levels") > 1 %}

<nav class="navbar header-fw{% if useMegaMenu %} megamenu{%endif%}">
    <div class="container-max">
        <div class="row mx-0">
        
            <button id="btnMainMenuToggler" v-open-mobile-navigation class="navbar-toggler d-lg-none" type="button">
                    &#9776 
            </button>
            
            <span class="menu-mobile">Menu</span>

            <div id="mainNavbarCollapsable" class="d-none d-lg-block">
                {% if showHeaderNavBar == "top" or showHeaderNavBar == "both" or not services.template.isCategory() %}
                   {% include "CeresCoconut::PageDesign.Partials.Header.NavigationList" %}
                {% endif %}
            </div>
            
            <div id="searchBox" class="cmp cmp-search-box">
                 {% set overrideSearchBar = LayoutContainer.show("Ceres::Search.SearchBar") %}
                 {% if overrideSearchBar | trim is empty %}
                     <item-search template="#vue-item-search"></item-search>
                 {% else %}
                     {{ overrideSearchBar | raw }}
                 {% endif %}
            </div>

        </div>
    </div>
</nav>
